@model Contributor
@{
    <h1>@Model.Id</h1>
    <h1>@Model.FirstName</h1>
    <h1>@Model.LastName</h1>
    @foreach(Listing listing in Model.Listings)
    {
        <hr />
        <b>@listing.Title</b>
        //<a asp-controller="Address" asp-action="Edit" asp-route-id="@address.Id">Edit</a>
        //<form asp-controller="Address" asp-action="Delete" asp-route-id="@address.Id" method="post">
        //<button type="submit">Delete</button></form>
    }
    <hr/>
    //<a asp-controller="Address" asp-action="Create" asp-route-companyId="@Model.Id">Add Listing</a>
    <a asp-controller="Contributor" asp-action="All">List All Contributors</a>
}
