@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using UrbanDuck.Interfaces
@inject UserManager<User> userManager;
@inject IContributorService contributorService;
@model Contributor
@{
    @if(await contributorService.GetByUserId(int.Parse(userManager.GetUserId(User))) == null)
    {
        <a asp-controller="Contributor" asp-action="Create">Create a contributor profile</a>
    }
    else
    {
        <h1>@Model.FirstName</h1>
        <h1>@Model.LastName</h1>
        <a asp-controller="Listing" asp-action="Create">Add New Listing</a>
        <a asp-controller="Contributor" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <form asp-controller="Contributor" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit">Delete</button></form>
        <a asp-controller="Listing" asp-action="Index">View My Listings</a>


        @if(Model.Listings != null) foreach (Listing listing in Model.Listings)
        {
            <hr />
            <b>@listing.Title</b>
        }
        <hr/>
    }
}
