@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using UrbanDuck.Interfaces
@inject UserManager<User> userManager;
@inject IContributorService contributorService;
@model Contributor
@{
    @if(await contributorService.GetByUserId(int.Parse(userManager.GetUserId(User))) == null)
    {
        <a asp-controller="Contributor" asp-action="Create">Create a contributor profile</a>
    }
    else
    {
        <h1>@Model.FirstName</h1>
        <h1>@Model.LastName</h1>
        <a asp-controller="Listing" asp-action="Create"><button class="btn btn-primary">Add New Listing </button></a>
        <p>
        <form asp-controller="Contributor" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        
        <button class="btn btn-danger" type="submit">Delete</button>
        <a asp-controller="Contributor" asp-action="Edit" asp-route-id="@Model.Id"><button class="btn btn-info">Edit</button></a>
     
        </form>
        </p>
        @if(Model.Listings != null) foreach (Listing listing in Model.Listings)
        {
            <hr />
            <b>@listing.Title</b>
        }
        <hr/>
    }
}
